<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Register </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="dashboard">VI</a>
    <a class="navbar-brand" href="dashboard">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="enquiry">Add Enquiry</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="enquiries">View Enquiries</a>
        </li>
        <li class="d-flex" role="search">
          <a class="btn btn-danger" href="/">Logout</a>
        </li>
      </ul>

    </div>
  </div>
</nav>
<div class="container">
  <h3> View Enquiries </h3>

  <form th:object="${enq}" th:action="@{/filter-enqs}" th:method="post">

    <table>
      <tr>
        <td> Mode : </td>
        <td>
          <select th:field="*{mode}">
            <option value="">-select-</option>
            <option value="classroom">Classroom</option>
            <option value="online">Online</option>
          </select>
        </td>

        <td> Course : </td>
        <td>
          <select th:field="*{course}">
            <option value="">-select-</option>
            <option value="java">Java</option>
            <option value="python">Python</option>
            <option value="devops">DevOps</option>
          </select>
        </td>

        <td> Status : </td>
        <td>
          <select th:field="*{status}">
            <option value="">-select-</option>
            <option value="new">New</option>
            <option value="enrolled">Enrolled</option>
            <option value="lost">Lost</option>
          </select>
        </td>

        <td>
          <input type="submit" value="Search" class="btn btn-primary"/>
        </td>
      </tr>

    </table>

  </form>

  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Phno</th>
      <th>Course</th>
      <th>Status</th>
      <th>Mode</th>
      <th>Edit</th>
    </tr>
    </thead>
  <tbody>
  <tr th:each="enq : ${enqs}">
    <td th:text="${enq.enqId}"/>
    <td th:text="${enq.stuName}"/>
    <td th:text="${enq.stuPhno}"/>
    <td th:text="${enq.course}"/>
    <td th:text="${enq.status}"/>
    <td th:text="${enq.mode}"/>
    <td>
      <a href="addEnq"> Edit</a>
    </td>
  </tr>
  </tbody>
  </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>